* {
    margin: 0;
    padding: 0;
    outline: 0;
}

/* 캔버스 설정 */
canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 3rem;
    cursor: pointer;
    background-color: ghostwhite;
}

/* 툴모음 전체 박스 */
.tools {
    max-width: 1000px;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* 툴 컬러 버튼 */
.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid white;
    align-self: center;
}

/* 되돌리기,지우기,다운로드 버튼 */
.tools .button {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: #222;
    background: coral;
    font-weight: bold;
    margin: 0 6px;
}

/* 컬러피커 */
.color-picker {
    align-self: center;
    margin: 0 10px;
    height: 50px;
}

/* 펜크기 */
.pen-range {
    align-self: center;
    margin: 0 10px;
}

* {
    font-family: 'Gothic A1', sans-serif;

}


.posting-box {
    margin-left: 40px;
    margin-top: auto;
    border-radius: 3rem;
}

.wrap {
    width: 900px;
    margin: 50px auto 50px auto;
    display: flex;
}

.text_box {
    width: 200px;
    height: 300px;
    border-radius: 2rem;
    background-color: ghostwhite;
    border: 0;
    outline: 0;

}
.text-control {
    margin-top: 23px;
    margin-left: 23px;
    width: 150px;
    height: 250px;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bold;
    background-color: ghostwhite;
    border: 0;
    outline: 0;
    -ms-overflow-style: scrollbar;
}
.box::-webkit-scrollbar {
    display: none;
}

.title-control {
    width: 200px;
    height: 100px;
    border-radius: 2rem;
    background-color: ghostwhite;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: bold;
    -ms-overflow-style: scrollbar;
}

.button {
    margin-top: 30px;
    width: 200px;
    height: 100px;
    border-radius: 2rem;
    background-color: coral;
    border: 0;
    outline: 0;
    font-weight: bold;
}

.color-change {
    padding-bottom: 30px;
}

.myCard {
    margin: 20px auto 0px auto;
    width: 70%;
    max-width: 1200px;
}
.card {
    border: 0;
    outline: 0;
    cursor: pointer;
}
.like_like {
    font-size: 15pt;
    font-weight: bold;
}
.main-top {
    width: 100%;
    height: 400px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('https://ifh.cc/g/MA2zxk.jpg');
    background-position: center;
    background-size: auto;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
.userinfo_art {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 25px;
}
.logout_btn {
    margin-left: 10px;
    width: 80px;
    height: 40px;
    border-radius: 2rem;
    background-color: coral;
    border: 0;
    outline: 0;
    font-weight: bold;
}
.subtitle {
    font-weight: bold;
}
.picture_view {
    border-radius: 3rem;
}
.card_list {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin-top: 5%;
}
.img_view {
    cursor: pointer;
}
.card-body {
    margin-left: 30px;
}
.card-text {
    width: 200px;
    height: 60px;
    border-radius: 2rem;
    background-color: ghostwhite;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 14pt;

}
.card-text2 {

    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
    color: lightslategrey;

    font-weight: lighter;
}
.content-text {
    width: 200px;
    height: 150px;
    border-radius: 2rem;
    background-color: ghostwhite;
    border: 0;
    outline: 0;

}

.content-area {
    width: 170px;
    height: 120px;
    margin-left: 14px;
    padding-bottom: 14px;
    padding-top: 14px;
    text-align: center;
    line-height: normal;
    font-size: 13pt;
    letter-spacing: normal;
    font-weight: bold;
    background-color: ghostwhite;
    border: 0;
    outline: 0;
    overflow: hidden;
}

.card-like {
    width: 200px;
    height: 100px;
    border-radius: 2rem;
    background-color: ghostwhite;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    line-height: 100px;
    font-size: 16pt;
    cursor: pointer;
}
.card-title {
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    background-color: coral;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    line-height: 50px;
    font-size: 16pt;
    cursor: pointer;
}