<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/draw.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

<script>
        function like_post(postnum) {
            $.ajax({
              type: "POST",
              url: "/like_post",
              data: {postnum_give: postnum},
              success: function (response) {
                alert(response["msg"]);
                window.location.reload();
              },
            });
          }
    </script>
</head>

<body>
<div id="card_list" class="card_list">

    {% set id = row["id"] %}
    {% set title = row["title"] %}
    {% set picture = row["picture"] %}
    {% set content = row["content"] %}
    {% set postnum = row["post_num"] %}
    {% set likecount = row["likecount"] %}

    <div class="img_view">
         <img class="picture_view" src={{picture}} class="card-img-top" alt="..." width="600" height="600">
    </div>

    <div class="card-body">
        <div class="card-text2">ID</div>
        <div class="card-text">{{id}}</div>
        <div class="card-text2">TITLE</div>
        <div class="card-text">{{title}}</div>
        <div class="card-text2">CONTENTS</div>
        <div class="content-text">
            <div class="content-area">
                 {{content}}
            </div>
        </div>

        <button class="card-like" onclick="like_post({{ postnum }})">❤️ {{likecount}}</button>
        <div onclick=location.href="/" class="card-title">Back</div>
    </div>
</div>



</body>
</html>