<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>SIGN IN</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

        <!-- Bulma CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script>
            // 간단한 회원가입 함수입니다.
            // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
            function register() {
                let username = $("#userid").val()
                let password = $("#userpw").val()
                let nickname = $("#usernick").val()

                if (username == ""){
                    alert("아이디를 입력해주세요")
                    $('#userid').focus()
                    return false;
                } else if (password == ""){
                    alert("비밀번호를 입력해주세요")
                    $('#userpw').focus()
                    return false;
                } else if (nickname == ""){
                    alert("별명을 입력해주세요")
                    $('#usernick').focus()
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/api/member/ship",
                    data: {
                        id_give: username,
                        pw_give: password,
                        nickname_give: nickname
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert(response['msg'])
                            window.location.href = '/login'
                        }
                    }
                })
            }

        </script>
    </head>
    <body>

        <div class="wrap_sign">
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label_2" for="userid" onclick=location.href="/login">Scratch Paper</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input_2" id="userid" aria-describedby="emailHelp"
                                       placeholder="My ID">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label_2" for="userpw"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input_2" id="userpw" placeholder="My Password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label_2" for="usernick"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input_2" id="usernick" placeholder="My Nickname">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="sign_btn" onclick="register()">회원가입</button>
            </div>
        </div>
    </body>
</html>